@font-face {
  font-family: "OpenSans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-display: swap;
  font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 146px;
  background-color: black;
  color: white;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

.menu {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  padding: 0px 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 29px;
}

.header__title {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  width: 100%;
}

.header__title-name {
  display: inline-block;
  box-sizing: border-box;
  width: 702px;
  font-weight: 700;
  font-size: 45px;
  line-height: 75px;
}

.menu__logo-link {
  width: 180px;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__item {
  font-weight: 400;
  font-size: 13px;
}

a:hover {
  text-decoration: underline;
}

.trends {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  margin-top: 25px;
}

.trend {
  position: relative;
  height: 320px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.trend::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}

.trend-garden {
  position: relative;
  background-image: url("images/trend1.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: end;
}

.trend-cheese {
  background-image: url("images/trend2.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: end;
}

.trend-hicking {
  background-image: url("images/trend3.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: end;
}

.trend-lemon {
  background-image: url("images/trend4.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: end;
}

.trend__text {
  position: relative;
  border: 3px solid #8d8147;
  z-index: 4;
  width: 100%;
  padding-top: 42px;
  padding-bottom: 35px;
  padding-left: 36px;
  text-transform: uppercase;
}

.trend__title {
  color: white;
  margin-top: 15px;
}

.articles {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
  width: 1170px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.news {
  box-sizing: border-box;
  margin-top: 57px;
  width: 778px;
}

.post {
  margin-top: 57px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.post:first-child {
  margin-top: 0px;
}

.post__image {
  width: 381px;
  margin-right: 30px;
}

.post__cathegory-item {
  display: inline;
  color: #b59f5b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-right: 20px;
}

.post__cathegory-item:hover {
  cursor: pointer;
}

.post__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 10px;
  text-transform: uppercase;
}

.post__athribute {
  margin-top: 30px;
}

.post__athribute-date {
  display: inline-block;
  color: #989898;
  font-weight: 400;
  font-size: 12px;
}

.post__athribute-author {
  display: inline-block;
  margin-left: 15px;
  font-weight: 700;
  font-size: 12px;
}

.post__content {
  margin-top: 30px;
  font-weight: 400;
  font-size: 15px;
}

.side__bar {
  width: 272px;
  box-sizing: border-box;
}

.side__bar-title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-top: 57px;
  font-weight: 700;
  font-size: 14px;
}

.side__bar-title::after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 63px;
  height: 3px;
  border: none;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b59f5b;
  text-align: center;
}

.latest__posts-item {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.latest__post-image {
  width: 70px;
  margin-right: 20px;
}

.latest__post-date {
  display: block;
  color: #989898;
  font-weight: 400;
  font-size: 12px;
}

.latest__post-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.search {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.search__field {
  display: inline-block;
  box-sizing: border-box;
  width: 224px;
  height: 48px;
  background-color: #f4f7f6;
  border: 1px solid #f4f7f6;
  font-weight: 400;
  font-size: 13px;
  padding: 0px 5px;
}

.search__field:focus {
  background-color: #f4f7f6;
  border: none;
  font-weight: 400;
  font-size: 13px;
}

.search__button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.mailing__field {
  display: block;
  margin-top: 23px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: none;
  background-color: #f4f7f6;
  font-weight: 400;
  font-size: 13px;
  padding: 0px 5px;
}

.mailing__button {
  display: block;
  margin-top: 18px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: none;
  background-color: #b59f5b;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

.tag__holder {
  display: flex;
  margin-top: 23px;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  box-sizing: border-box;
}

.tag__holder-item {
  box-sizing: border-box;
  height: 30px;
  border: 2px solid #eeeeee;
  padding: 6px 13px 10px 13px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 6px;
  margin-right: 6px;
}

.themes__list {
  margin-top: 10px;
}

.themes__list-row {
  border-bottom: 1px solid #eeeeee;
  margin: 10px 0px;
}

.themes__list-item {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

.themes__list-index {
  vertical-align: top;
  font-weight: 700;
  font-size: 12px;
  color: #b59f5b;
}

.footer {
  margin-top: 64px;
  width: 100%;
}

.links {
  box-sizing: border-box;
  width: 1170px;
  height: 83px;
  background-color: #f4f7f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.social_logo {
  width: 20px;
  height: auto;
}

.rights {
  display: block;
  text-align: center;
  margin: 74px 0px 43px 0px;
  font-weight: 700;
  font-size: 12px;
  color: #b0b0b0;
}

.goods {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.goods-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.good-item {
  width: 30%;
}

.good-item_image {
  height: 200px;
}

.image-cushion {
  background-image: url("images/shop-item-desk1.jpg");
  background-color: darkgrey;
  background-repeat: no-repeat;
  background-position: center center;
}

.image-rabbit {
  background-image: url("images/shop-item-desk2.jpg");
  background-color: darkgrey;
  background-repeat: no-repeat;
  background-position: center center;
}

.image-frame {
  background-image: url("images/shop-item-desk3.jpg");
  background-color: darkgrey;
  background-repeat: no-repeat;
  background-position: center center;
}

.good-item_content {
  outline: 2px solid #b59f5b;
  outline-offset: 10px;
  min-height: 170px;
  margin-top: -10px;
  padding-top: 20px;
}

.good-item__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.good-item__specification {
  font-size: 15px;
}

.goods-link {
  color: #b59f5b;
}

.sale-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: end;
  margin-top: 20px;
}

.good-item__price {
  display: inline-block;
  color: black;
  font-weight: 700;
}

.price_old {
  font-size: 14px;
  text-decoration: line-through;
}

.price-new {
  font-size: 20px;
}

.good-item__button {
  width: 140px;
  height: 49px;
  color: white;
  background-color: #b59f5b;
}
