@font-face {
  font-family: "OpenSans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100vw;
  text-transform: uppercase;
  position: relative;
  padding-top: 29px;
  padding-bottom: 146px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
  color: white;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

.menu {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 0px 15px; */
}

.menu__logo-link {
  width: 180px;
}

.menu-panel {
  display: flex;
  flex-direction: column;
  align-items: end;

}

.menu__button {
  width: 1.4em;
  height: 1em;  
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
  display: none;
}

.menu__button:before, .menu__button:after {
  content:"";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;  
  position: absolute;
  left: 0;
}

.menu__button:before {
  top: 0;
}

.menu__button:after {
  bottom: 0;
}

.menu__button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;  
  border-radius: 5px;
  background-color: #ffffff;  
  position: absolute;
  left: 0;
  top: 50%;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__item {
  font-weight: 400;
  font-size: 13px;
}

.header__title {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  width: 100%;
}

.header__title-name {
  display: inline-block;
  box-sizing: border-box;
  width: 702px;
  font-weight: 700;
  font-size: 45px;
  line-height: 75px;
}

a:hover {
  text-decoration: underline;
}

.trends {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  margin-top: 25px;;
}

.trend {
  position: relative;
  min-height: 320px;
  box-sizing: border-box;
  padding: 16px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: end;
}

.trend::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}

.trend-garden {
  background-image: url("../img/trend1.jpg");
}

.trend-cheese {
  position: relative;
  background-image: url("../img/trend2.jpg");
}

.trend-hicking {
  position: relative;
  background-image: url("../img/trend3.jpg");
}

.trend-lemon {
  position: relative;
  background-image: url("../img/trend4.jpg");
}

.trend__text {
  position: relative;
  border: 3px solid #8d8147;
  z-index: 4;
  width: 100%;
  padding-top: 42px;
  padding-bottom: 35px;
  padding-left: 36px;
  padding-right: 36px;
  text-transform: uppercase;
}

.trend__title {
  color: white;
  margin-top: 15px;
}

.articles {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
  max-width: 1170px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.news {
  box-sizing: border-box;
  width: 778px;
  padding-top: 57px;
}

.post {
  margin-top: 57px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.post:first-child {
  margin-top: 0px;
}

.post__image {
  width: 381px;
  margin-right: 30px;
}

.post__cathegory-item {
  display: inline;
  color: #b59f5b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-right: 20px;
}

.post__cathegory-item:last-child {
  margin: 0;
}

.post__cathegory-item:hover {
  cursor: pointer;
}

.post__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 10px;
  text-transform: uppercase;
}

.post__athribute {
  margin-top: 30px;
}

.post__athribute-date {
  display: inline-block;
  color: #989898;
  font-weight: 400;
  font-size: 12px;
}

.post__athribute-author {
  display: inline-block;
  margin-left: 15px;
  font-weight: 700;
  font-size: 12px;
}

.post__content {
  margin-top: 30px;
  font-weight: 400;
  font-size: 15px;
}

.side__bar {
  max-width: 272px;
  box-sizing: border-box;
}

.side__bar-title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-top: 57px;
  font-weight: 700;
  font-size: 14px;
}

.side__bar-title::after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 63px;
  height: 3px;
  border: none;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b59f5b;
  text-align: center;
}

.latest__posts-item {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.latest__post-image {
  width: 70px;
  margin-right: 20px;
}

.latest__post-date {
  display: block;
  color: #989898;
  font-weight: 400;
  font-size: 12px;
}

.latest__post-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.popup-title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

.popup-title::after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 63px;
  height: 3px;
  border: none;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b59f5b;
  text-align: center;
}

.search {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.search__field {
  display: inline-block;
  box-sizing: border-box;
  width: 224px;
  height: 48px;
  background-color: #f4f7f6;
  border: 1px solid #f4f7f6;
  font-weight: 400;
  font-size: 13px;
  padding: 0px 5px;
}

.search__field:focus {
  background-color: #f4f7f6;
  border: none;
  font-weight: 400;
  font-size: 13px;
}

.popup {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.popup__toggle {
  display: none;
}

.popup__toggle:checked + .popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: white;
  position: absolute;
  top: -40px;
  right: 0px;
  cursor: pointer;
}

.popup__close:active {
  background-color: black;
  color: #fff;
  border-radius: 50%;
}

.popup__content {
  width: 400px;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  position: absolute;
}

.btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.btn:active {
  background-color: rgb(1, 1, 1);
  color: #fff;
  text-decoration: dotted;
}

.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding-left: 10px;
  padding-right: 25px;
  margin: 0;
  border: 1px solid #cbd1d4;
  background-color: #f9f9f9;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #333333;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 10px 20px;
  background-position: right 5px center;
}

.form-hint {
  display: block;
  text-align: left;
  margin: 5px;
}

.form-row {
  display: block;
  box-sizing: border-box;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  margin-right: 8px;
}

.radio-group {
  display: inline-block;
}

.radio-group:nth-of-type(n + 2) {
  margin-left: 15px;
}

.radio:checked + .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.field {
  width: 100%;
  height: 100px;
  resize: none;
  box-sizing: border-box;
  padding: 10px;
}

.button {
  background-color: #b59f5b;
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  height: 48px;
}

.feedback-button {
  display: block;
  margin-top: 18px;
  width: 100%;
}

.mailing__field {
  display: block;
  margin-top: 23px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: none;
  background-color: #f4f7f6;
  font-weight: 400;
  font-size: 13px;
  padding: 0px 5px;
}

.mailing__button {
  display: block;
  margin-top: 18px;
  width: 100%;
}

.tag__holder {
  display: flex;
  margin-top: 23px;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  box-sizing: border-box;
}

.tag__holder-item {
  box-sizing: border-box;
  border: 2px solid #eeeeee;
  padding: 6px 13px 10px 13px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 6px;
  margin-right: 6px;
}

.themes__list {
  margin-top: 10px;
}

.themes__list-row {
  border-bottom: 1px solid #eeeeee;
  margin: 10px 0px;
}

.themes__list-item {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

.themes__list-index {
  vertical-align: top;
  font-weight: 700;
  font-size: 12px;
  color: #b59f5b;
}

.footer {
  margin-top: 64px;
  width: 100vw;
}

.links {
  box-sizing: border-box;
  width: 95%;
  padding: 20px;
  background-color: #f4f7f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.social_logo {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.dribble {
  background-image: url(../svg/001-dribbble.svg);
}

.pinterest {
  background-image: url(../svg/002-pinterest.svg);
}

.tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.rights {
  display: block;
  text-align: center;
  margin: 74px 0px 43px 0px;
  font-weight: 700;
  font-size: 12px;
  color: #b0b0b0;
}

.goods {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.goods-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.good-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.good-item_image {
  background-color: darkgray;
}

.good-item_content {
  outline: 2px solid #b59f5b;
  outline-offset: 10px;
  min-height: 170px;
  margin-top: -10px;
  padding-top: 20px;
}

.good-item__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.good-item__specification {
  font-size: 15px;
}

.goods-link {
  color: #b59f5b;
}

.sale-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: end;
  margin-top: 20px;
}

.good-item__price {
  display: inline-block;
  color: black;
  font-weight: 700;
}

.price_old {
  font-size: 14px;
  text-decoration: line-through;
}

.price-new {
  font-size: 20px;
}

.good-item__button {
  width: 140px;
  height: 49px;
  color: white;
  background-color: #b59f5b;
}

@media (max-width: 1199px) {
  .menu__button {
    display: block;
  }
  .menu__list {
    display: none;
  }
  .post__image {
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url(../img/banner-bg-tablet.jpg);
  }
  .trends {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;
    gap: 5px 10px;
  }
  .center-wrapper {
    padding: 0px 3%;
  }
  .articles {
    gap: 15px;
  }
  .post {
  margin-top: 20px;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
  border-bottom: 5px solid #eeeeee;
  }
  .popup__content {
    width: 300px;
  }
  .goods-bar {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
    padding: 0px 30px;
  }
  .good-item {
    width: 100%;
  }
  .good-item_image {
    width: 90%;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url(../img/banner-mobile.jpg);
  }
  .menu__logo {
    display: none;
  }
  .trends {
    display: flex;
    flex-direction: column;
    gap: 10px;   
  }
  .trend{
    width: 100%;
  }
}